.event-section {
  .event-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 40px;
    max-width: 1024px;
    margin: 0 auto;
  }

  .event-card {
    width: calc(50% - 20px);
    text-align: center;

    .event-image {
      margin-bottom: 20px;

      img {
        width: 100%;
        height: auto;
        border-radius: 48px;
        display: block;
      }
    }

    .event-name {
        padding-bottom: 8px;
    }
  }

}
