//Fonts
$dm_sans: "DM Sans", sans-serif;

//Colors
$lightgrey: #FAFAFA;
$lightblue: #2782F8;
$darkblue: #1067D7;
$grey: #BABABA;
$black: #091428;
$white: #FEFEFE;
$red: #EF615F;

$fast: 0.3s ease-in-out;
$medium: 0.5s ease-in-out;
$slow: 1s ease-in-out;

$primary-color: #A3197C;
$opacity_prime-color: #492447;
$secondary-color: #FFD93E;
$darkblue_color: #312C5E;
$lightblue_color: #F2F0FF;
$blue_secound_color: #423D6C;
$light_lavender_color : #f8f3fc;
$Pale_purple_color : #FFF0FF;
$text-color: #fff;
$close_icon_color : #F1ECF1;
$body-font: 'DM Sans', sans-serif;
$max-width: 1380px;



$media-desktop-view: 1366px;
$media-laptop-view: 1280px;
$media-tablet-view: 1024px;
$media-tablet-view-small: 991px;
$media-mobile-view: 767px;
$media-mobile-view-small: 540px;


// font--h4-500
// font--p-16
// padding-bottom-56
// padding-top-56
// font--h2-600
// font--h3-700 
// font--p-18
// padding-tb-100
// padding-top-108
// padding-bottom-108
// margin-top-48
// font--h1
// btn
// btn--secondary
// btn--primary
// primary-color
// light_background
// white_background
// btn_design_1